@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0..1,0');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..800&display=swap');

html{
    --lightBlue: #8ECAE6;
    --mediumBlue: #219EBC;
    --darkBlue: #023047;
    --yellow: #FFB703;
    --orange: #FB8500;

    --serifStack: 'Roboto Serif', serif;
    --sansStack : 'Roboto Flex', sans-serif;
}

body {
    font-family: var(--sansStack);
}

h1 {
    font-family: var(--serifStack);
}

h2 {
    font-family: var(--serifStack);
    text-align: center;
    font-weight: 400;

}

ul {
    background-color: var(--lightBlue) !important;
    font-size: 1.75vw;
}

.header {
    background-color: var(--darkBlue);
    padding: 15px;
    text-shadow: 0px 4px 4px black;
    color: white;
    font-weight: 700;
    font-size: 1.75vw;
    font-family: var(--serifStack)
}

aside {
    font-family: var(--sansStack);
    font-weight: 300;

}

h1 {
    text-align: center;
}

.nav-item:hover {
    color: var(--darkBlue) !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.active {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--darkBlue) !important;
    font-weight: 700;
}

.active:hover {
    color: var(--darkBlue) !important;

}

main {
    margin-top: 20px;
}

#submit {
    background-color: var(--yellow);
}

.form-group {
    margin-bottom: 15px;
}

.input-group-text {
    background-color: var(--yellow);

}

thead {
    background-color: var(--yellow);
}

i {
    cursor: pointer;
}

.trash:hover {
    font-variation-settings: 'FILL' 1;
    color: var(--orange);
}

.next:hover {
    color: var(--mediumBlue);
}

.edit:hover {
    font-variation-settings: 'FILL' 1;
    color: var(--yellow);
}

table{
    font-family: var(--sansStack);
    
}

.btn {
    font-family: var(--sansStack);
}

.manage-edit {
    background-color: var(--orange);
}
.manage-add {
    background-color: var(--yellow);
}

.card {
    font-family: var(--sansStack);
}
.edit:hover {
    font-variation-settings: 'FILL' 1;
    color: var(--yellow);
}
.login {
    background-color: var(--lightBlue);
    margin-top: 30px;
}
