/* imports fonts and symbols */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0..1,0");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..800&display=swap");

/* creates css variables */
html {
  --lightBlue: #8ecae6;
  --mediumBlue: #219ebc;
  --darkBlue: #023047;
  --yellow: #ffb703;
  --orange: #fb8500;

  --serifStack: "Roboto Serif", serif;
  --sansStack: "Roboto Flex", sans-serif;
}

/* sets font-family, weight, and alignment of various elements*/
body {
  font-family: var(--sansStack);
}

h1 {
  font-family: var(--serifStack);
}

h2 {
  font-family: var(--serifStack);
  text-align: center;
  font-weight: 400;
}

aside {
  font-family: var(--sansStack);
  font-weight: 300;
  min-height: 100vh;
}

table {
  font-family: var(--sansStack);
}

.btn {
  font-family: var(--sansStack);
}

h1 {
  text-align: center;
}

#searchLabel {
  font-weight: 600;
}

/* sets bkgd color of navigation sidebar */
#nav {
  background-color: var(--lightBlue) !important;
  font-size: 1.75vw;
}

/* sets bkgd color of "Order Management System" header */
#header {
  background-color: var(--darkBlue);
  padding: 15px;
  text-shadow: 0px 4px 4px black;
  color: white;
  font-weight: 700;
  font-size: 1.75vw;
  font-family: var(--serifStack);
  padding-top: 35px;
}

#colorToggle {
  background-color: var(--mediumBlue);
  font-size: 1.5vw;
  padding: 7%;
}

.loginToggle {
  display: inline-block;
  padding: 18px !important;
  width: auto;
  margin-left: 50px;
}

#colorToggle i {
  font-size: 2vw;
  vertical-align: middle;
}

/* sets text color of navigation links */
.nav-item:hover,
#colorToggle span:hover {
  color: var(--darkBlue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-variation-settings: "FILL" 1;
  transition: all 0.3s ease;
}

.nav .active {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--darkBlue) !important;
  font-weight: 700;
  transition: all 0.3s ease;
}

.nav .active:hover {
  color: var(--darkBlue) !important;
}

/* adds margin for main portion of page */
main {
  margin-top: 20px;
}

/* sets bkgd color of submit buttons */
#submit {
  background-color: var(--yellow);
}

/* adds margin for form groups (label and input box together) */
.form-group {
  margin-bottom: 15px;
}

/* sets bkgd/text color of "Total $" box  */
.input-group-text {
  background-color: var(--yellow);
}

/* sets bkgd color of table header */
thead {
  background-color: var(--yellow);
}

/* makes user's cursor appear as a selection hand */
i,
.nav-link,
#colorToggle span {
  cursor: pointer;
}

/* changes color of icons when hovering over them */
.trash:hover {
  font-variation-settings: "FILL" 1;
  color: var(--orange);
}

.next:hover {
  color: var(--mediumBlue);
}

.edit:hover {
  font-variation-settings: "FILL" 1;
  color: var(--yellow);
}

.done:hover {
  font-variation-settings: "FILL" 1;
  color: var(--yellow);
}

.cancel:hover {
  font-variation-settings: "FILL" 1;
  color: var(--orange);
}

/* sets bkgd/text color of "Add New Item" button */
#manage-add {
  background-color: var(--yellow);
}

/* sets bkgd/text color of menu item cards */
.card {
  font-family: var(--sansStack);
}

/* sets bkgd/text color of login form */
#login {
  background-color: var(--lightBlue);
  margin-top: 30px;
  box-shadow: 0px 0px 10px var(--mediumBlue);
}

/* sets text color of login error message */
.error-msg {
  color: red;
}

/* sets bkgd/text color of pagination buttons */
.page-link {
  color: var(--darkBlue);
}

.page-link:hover {
  color: var(--mediumBlue);
}

.page-link.active {
  background-color: var(--lightBlue);
  border: var(--lightBlue) 1px solid;
  color: var(--darkBlue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
}
.nav-btn{
  position: absolute;
  width: fit-content;
  left: 0;
  color: white;
  border: none;
  background-color: var(--darkBlue);
  display: none;
  padding-top: 6px;
}
.nav-Menu{
  transition: 0ms;
}

@media screen and (max-width: 998px) {
  .nav-menu {
    position: absolute;
    left: -75%;
    transition:700ms ease;
    height: 100vh;
  }
  .nav-btn{
    display: unset;
    z-index: 1111;
    font-size: large
  }
  .openMobile {
    transition: 850ms ease;
    left: -12px;
    position: absolute;
    height: 100vh;
    z-index: 1000;
  }
}
